@font-face {
  font-family: "font";
  src: url('./Montserrat-VariableFont_wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: "font";
  src: url("./Montserrat-Italic-VariableFont_wght.ttf");
  font-style: italic;
}
